@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
/* General Settings */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  // font-family: 'Comfortaa', cursive;;
  color: #202020;
  background-color: #fafafa;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block; /* removes extra space */
}

/************Variables ******************/
$black: black;
$alert-color: red;
$alert-background: pink;
$success-color: green;
$success-background: lightgreen;
$main-background: blue;
$vivid-white: white;
$tablet-width: 769px;
$desktop-width: 1024px;

/*******************************
*Nav bar and hero styles
*
*********************************/
.reveal {
  display: flex;
}

.menu {
  a {
    color: $black;
    cursor: pointer;
  }

  button {
    font-weight: 500;
    outline: none;
    cursor: pointer;
  }

  .menu-logo {
    font-weight: bold;
    font-size: 1.5rem;

    &:hover {
      color: blue;
    }
  }

  &-container {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    box-shadow: 0 1px 5px rgba(50, 50, 50, 0.2);
  }

  &-list__mobile {
    padding: 1em;
    height: 100%;
    background-color: rgb(6, 6, 32);
    font-weight: 500;

    a {
      padding-right: 1.5em;
      padding-bottom: 1.5em;
      color: white;
    }

    .close-menu-button {
      border: none;
    }

    .logout-button {
      border: none;
      background-color: transparent;
      color: white;
      padding: 0;
    }
  }

  &-mobile-control {
    .menu-button {
      border: none;
    }

    svg {
      font-size: 1.5rem;
    }
  }

  &-list__desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      font-weight: 500;
      padding-right: 1.5em;
    }

    a:hover {
      color: blue;
    }

    .logout-button {
      padding: 0;
      color: black;
      border: none;
      background-color: transparent;

      &:hover {
        color: blue;
      }
    }

    .post-button {
      color: white;
      background-color: blue;
      text-align: center;
      padding: 1em;
      margin-right: 1em;

      &:hover {
        background-color: transparent;
        color: black;
        border: 1px solid blue;
      }
    }
  }

  @media (max-width: $tablet-width) {
    &-list__desktop {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    &-mobile-control,
    &-list__mobile {
      display: none;
    }
  }
}

.hero-container {
  overflow: hidden;
}

.hero {
  background: url('./images/hero.jpg') center no-repeat;
  background-size: cover;
  height: 30vh;
  width: 100vw;
  position: relative;
}

.hero-overlay {
  background-color: rgba(25, 25, 112, 0.4);
  position: absolute;
  height: 100%;
  width: 100%;
}

.hero-content-container {
  font-weight: 500;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  z-index: 50;
  font-size: 0.9em;
}

.hero-content-headliner{
  font-size: 1.2rem;
  font-weight: 500;
}

.hero-content-year{
  display: inline-block;
  margin-left: 0.3em;
}

@media(min-width: 1024px){
  .hero{
    height: 60vh;
  }
}

/******************
*
**********************/
.container {
  max-width: 90%;
  margin: 0rem auto;
  position: relative;
}

@media (min-width: 650px) {
  .container {
    max-width: 80%;
  }
}

.container {
  padding-top: 2em;
}

@media (min-width: 2500px) {
  .container {
    max-width: 50%;
    margin: 0 auto;
  }
}
/*************************
* Sign up Form
* Login Form
*/

.form-primary {
  input[type='text'] {
    margin: 0 auto;
    opacity: 50%;
    margin-top: 10px;
    max-width: 527px;
  }

  i {
    position: absolute;
    top: 38%;
    right: 6%;
  }

  i:hover {
    color: grey;
    cursor: pointer;
  }

  input[type='text'],
  input[type='password'],
  input[type='email'],
  button {
    height: 40px;
    width: 100%;
    font-size: 22px;
    margin-bottom: 14px;
    cursor: pointer;
  }

  input[type='radio'] {
    margin-right: 6px;
    margin-bottom: 6px;
  }

  .radio-wrapper {
    margin-bottom: 14px;
  }

  textarea {
    width: 100%;
    padding: 1em;
    font-size: 22px;
  }

  label {
    display: block;
  }

  button:hover {
    color: white;
    background-color: royalblue;
    border: transparent;
    border-radius: 1px;
  }
  .step-wrapper {
    border: 1px solid lightgrey;
    margin: 0.5em;
  }

  .step-headliner {
    padding: 0.3em;
    border-bottom: 1px solid lightgrey;
  }

  .step-contents {
    padding: 0 0.5em;
  }

  .details-wrapper {
    margin-bottom: 1em;
  }
  .button-primary {
    width: 200px;
    margin-top: 1em;
    margin-left: 5px;
  }
}

.auth-form {
  .password-wrapper {
    position: relative;
    margin-bottom: 14px;
  }
}

.alert-container {
  .message-wrapper {
    width: 100%;
    height: 0em;
    padding: 0em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .close-message {
      color: inherit;
      background-color: inherit;
      font-size: 1em;
      outline: none;
      border: none;
      display: none;
    }
  }

  .message {
    height: 3em;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 0.5em;

    .close-message {
      display: flex;
    }
  }
  .fail {
    background-color: pink;
    color: red;
  }
  .success {
    padding: 0.5em;
    background-color: $success-background;
    color: $success-color;
  }
}

@media (min-width: 786px) {
  .form-container,
  .property-form-container {
    max-width: 60%;
    margin: 0 auto;
  }
}

@media (min-width: 786px) {
  .form-container {
    max-width: 40%;
    margin: 0 auto;
  }
}

//Form Alert Modal

.form-modal-container {
  height: 5em;
  width: 100%;
  padding: 1em;
}

///// Upload
.upload-images{
  display: flex;

  &-container{
    font-size: 2rem;
    cursor: pointer;
    color: lightgrey;
  }

}
.mask {
  background-color: rgba(208, 208, 214, 0.5);
  position: relative;
  z-index: 800;
  top: -100%;
  height: calc(100% - 2em);
  width: calc(100% - 0.3em);
}
/////Home////////////////////////

.main {
  &-list-item {
    list-style: none;
    cursor: pointer;
    background-color: rgb(245, 245, 245);
    margin-bottom: 1.5em;
    box-shadow: 0 1px 5px rgba(50, 50, 50, 0.2);
  }

  &-link {
    font-weight: 500;
    margin-bottom: 1em;
    color: black;
    font-weight: normal;
  }
}

.short-property {
  display: grid;
  cursor: pointer;

  img {
    display: block;
  }

  &-image {
    height: 250px;
    width: 100%;
    margin: 0;
  }

  &-title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  &-description {
    display: none;
  }

  .property-id {
    padding: 0;
    margin-top: 0;
  }
}

@media (min-width: 600px) {
  .short-property {
    grid-template-columns: 1fr 1fr;
  }

  .short-property-right {
    display: grid;
    grid-template-rows: 2em 2fr 1fr;
    padding: 1em 0 0 0.4em;
  }

  .short-property-description {
    display: block;
    font-size: 0.9em;
  }
}

@media (min-width: 1024px) {
  .short-property {
    grid-template-columns: 1fr 2fr;
  }
}

.icon-container {
  position: relative;
  z-index: 3;
  left: 10px;
  top: -25px;
  color: whitesmoke;

  span {
    padding-left: 0.3em;
  }
}

@media (min-width: 1024px) {
  .short-property-image {
    width: 400px;
    margin: 0;
  }

  .short-property-description {
    font-size: 1em;
    line-height: 1.2em;
  }
}

.property-icons {
  display: flex;
  margin-top: 1em;
  padding-bottom: 0.6em;
  justify-content: space-between;
  align-items: center;

  &-svg {
    color: darkgray;
    margin-right: 1em;
  }

  &-text {
    display: inline-block;
    margin-right: 0.6em;
    color: darkgray;
  }

  //Edit Form

  .edit-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg:hover {
      color: blue;
    }

    button {
      border: none;
      outline: none;
      cursor: pointer;
      background-color: transparent;
    }
  }

  .details-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      cursor: none;
    }
  }
}

@media (min-width: 600px) {
  .property-icons {
    border-top: 1px solid darkgrey;
    padding-top: 1em;
  }
}

.hide {
  display: none;
  height: 0rem;
}

.show {
  display: block;
}

/********************
* Property Styling
*
*********************/

//     style={{ height: '500px', width: '450px' }}

.show-property-gallery {
  display: flex;
  justify-content: center;

  img {
    height: 250px;
    width: 300px;
  }

  button {
    background: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 1.2rem;
    color: whitesmoke;
    position: relative;
  }

  &-next {
    right: -264px;
    top: -130px;
  }

  &-previous {
    top: -128.8px;
    left: -32px;
  }
}

@media (min-width: 1024px) {
  .show-property-gallery img {
    height: 345px;
    width: 345px;
  }

  .show-property-gallery-next {
    top: -175px;
    right: -308px;
  }

  .show-property-gallery-previous {
    top: -172.5px;
    left: -26px;
  }
}

/// My Properties
.my-properties {
  cursor: none;
}
