@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
/* General Settings */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  // font-family: 'Comfortaa', cursive;;
  color: #202020;
  background-color: #fafafa;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button,
a {
  cursor: pointer;
}

img {
  display: block; /* removes extra space */
}

// Variables

$vivid-black: black;
$alert-color: red;
$alert-background: pink;
$success-color: green;
$success-background: lightgreen;
$vivid-blue: blue;
$vivid-white: white;
$soft-grey: lightgrey;
$vivid-royal-blue: rgb(6, 6, 32);
$vivid-grey: darkgrey;
$tablet-width: 768px;
$desktop-width: 1024px;
$generic-box-shadow: 0 1px 5px rgba(50, 50, 50, 0.2);
$generic-border: 1px solid lightgrey;

// Mixins

/* @mixin clear-default-button-styles {
  border: none;
  outline: none;
}

@mixin button-primary($height-value) {
  @include clear-default-button-styles;

  width: 100%;
  height: $height-value;

  &:hover {
    color: $vivid-blue;
  }
} */

@mixin button-hidden($color-value: $vivid-black, $weight-value: 500) {
  border: none;
  outline: none;
  padding: 0em;
  background-color: transparent;
  color: $color-value;
  font-weight: $weight-value;
}

@mixin align {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Utility Classes
.reveal {
  display: flex;
}

.hide {
  display: none;
  height: 0rem;
}

.show {
  display: block;
}

// Navbar OR Menu Styles
.menu {
  a {
    color: $vivid-black;
  }

  .menu-logo {
    font-weight: bold;
    font-size: 1.5rem;

    &:hover {
      color: $vivid-blue;
    }
  }

  &-container {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    box-shadow: $generic-box-shadow;
  }

  &-list__mobile {
    padding: 1em;
    height: 100%;
    background-color: $vivid-royal-blue;
    font-weight: 500;

    a {
      padding-right: 1.5em;
      padding-bottom: 1.5em;
      color: $vivid-white;
    }

    .close-menu-button {
      @include button-hidden();
    }

    .logout-button {
      @include button-hidden($vivid-white);
    }
  }

  &-mobile-control {
    .menu-button {
      @include button-hidden();
    }

    svg {
      font-size: 1.5rem;
    }
  }

  &-list__desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      font-weight: 500;
      padding-right: 1.5em;

      &:hover {
        color: $vivid-blue;
      }
    }

    .logout-button {
      @include button-hidden();

      &:hover {
        color: $vivid-blue;
      }
    }

    .post-button {
      color: $vivid-white;
      background-color: $vivid-blue;
      text-align: center;
      padding: 1em;
      margin-right: 1em;

      &:hover {
        background-color: transparent;
        color: $vivid-black;
        border: 1px solid blue;
      }
    }
  }

  @media (max-width: $tablet-width) {
    &-list__desktop {
      display: none;
    }
  }

  @media (min-width: 801px) {
    &-mobile-control,
    &-list__mobile {
      display: none;
    }
  }
}

// Hero Styles
.hero {
  background: url('./images/hero.jpg') center no-repeat;
  background-size: cover;
  height: 30vh;
  width: 100vw;
  position: relative;

  &-container {
    overflow: hidden;
  }

  &-overlay {
    background-color: rgba(25, 25, 112, 0.4);
    position: absolute;
    height: 100%;
    width: 100%;
  }

  &-content-container {
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 80%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    z-index: 50;
    font-size: 0.9em;

    @media (min-width: $tablet-width) {
      min-width: 60%;
    }

    @media (min-width: $desktop-width) {
      min-width: 40%;
    }
  }

  &-content-headliner {
    font-size: 1.2rem;
    font-weight: 500;

    @media (min-width: $tablet-width) {
      text-align: center;
    }
  }

  input[type='search'] {
    padding-left: 2em;
    height: 60px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 6px;
    width: 100%;
    background-color: whitesmoke;
    font-size: 1rem;
  }

  .search-svg {
    position: absolute;
    z-index: 5000;
    font-size: 1.2rem;
    color: $vivid-grey;
    left: 10px;
    top: 5em;

    @media (min-width: $tablet-width) {
      top: 4em;
    }
  }

  @media (min-width: 1024px) {
    height: 60vh;
  }
}

// Generic Layout Styles for containers, wrappers ect.
.container {
  max-width: 90%;
  margin: 0rem auto;
  position: relative;
  padding: 2em 0;

  @media (min-width: 650px) {
    max-width: 80%;
  }

  @media (min-width: 2500px) {
    max-width: 50%;
  }
}

// Sign Up and LogIn Form Styles
.form-primary {
  input[type='text'] {
    margin: 0 auto;
    margin-top: 10px;
    max-width: 527px;
  }

  i {
    position: absolute;
    top: 38%;
    right: 6%;
  }

  i:hover {
    color: $vivid-grey;
    cursor: pointer;
  }

  input[type='text'],
  input[type='password'],
  input[type='email'],
  button {
    height: 40px;
    width: 100%;
    font-size: 22px;
    margin-bottom: 14px;
    cursor: pointer;
  }

  input[type='text'],
  input[type='password'],
  input[type='email'] {
    opacity: 50%;
  }

  button {
    border: 1px solid $vivid-grey;
    border-radius: 1px;
    outline: none;
    background: transparent;
  }

  input[type='radio'] {
    margin-right: 6px;
    margin-bottom: 6px;
  }

  .radio-wrapper {
    margin-bottom: 14px;
  }

  textarea {
    width: 100%;
    padding: 1em;
    font-size: 22px;
    opacity: 50%;
  }

  label {
    display: block;
  }

  button:hover {
    color: white;
    background-color: $vivid-blue;
    border: transparent;
    border-radius: 1px;
  }

  .step {
    &-wrapper {
      border: 1px solid lightgrey;
      margin: 0.5em;
    }

    &-headliner {
      padding: 0.3em;
      border-bottom: 1px solid lightgrey;
    }

    &-contents {
      padding: 0 0.5em;
    }

    &-details-wrapper {
      margin-bottom: 1em;
    }
  }

  /*  .button-primary {
    width: 200px;
    margin-top: 1em;
    margin-left: 5px;
  } */
}

.auth-form {
  .password-wrapper {
    position: relative;
    margin-bottom: 14px;
  }
}

.alert-container {
  .message-wrapper {
    width: 100%;
    height: 0em;
    padding: 0em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .close-message {
      color: inherit;
      background-color: inherit;
      font-size: 1em;
      outline: none;
      border: none;
      display: none;
    }
  }

  .message {
    height: 3em;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 0.5em;

    .close-message {
      display: flex;
    }
  }

  .fail {
    background-color: $alert-background;
    color: $alert-color;
  }

  .success {
    padding: 0.5em;
    background-color: $success-background;
    color: $success-color;
  }
}

@media (min-width: 786px) {
  .form-container,
  .property-form-container {
    max-width: 60%;
    margin: 0 auto;
  }
}

@media (min-width: 786px) {
  .form-container {
    max-width: 40%;
    margin: 0 auto;
  }
}

/***Form Alert Modal***/
.form-modal-container {
  height: 5em;
  width: 100%;
  padding: 1em;
}

/***Post and Edit Ads Form***/
.hook-error {
  color: red;
}

/*** Upload ***/
.preview {
  display: flex;

  &-svg {
    font-size: 2rem;
    color: $vivid-white;
  }

  &-image-wrapper {
    img {
      height: 6em;
      width: 6em;
      margin-right: 0.3em;
    }

    .loader-wrapper {
      position: relative;
      z-index: 1000;
      top: -50%;
      left: 2em;
    }
  }

  .mask {
    background-color: rgba(208, 208, 214, 0.5);
    position: relative;
    z-index: 800;
    top: -100%;
    height: calc(100% - 2em);
    width: calc(100% - 0.3em);
  }
}

.upload-images {
  display: flex;

  &-container {
    font-size: 2rem;
    cursor: pointer;
    color: lightgrey;
  }
}

//Home Styles//
.main {
  &-list-item {
    list-style: none;
    cursor: pointer;
    background-color: rgb(245, 245, 245);
    margin-bottom: 1.5em;
    box-shadow: 0 1px 5px rgba(50, 50, 50, 0.2);
  }

  &-link {
    font-weight: 500;
    margin-bottom: 1em;
    color: black;
    font-weight: normal;
  }
}

.short-property {
  display: grid;

  img {
    display: block;
  }

  &-image {
    height: 250px;
    width: 100%;
    margin: 0;

    @media (min-width: 1024px) {
      width: 400px;
      margin: 0;
    }
  }

  &-title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  &-description {
    display: none;

    @media (min-width: 600px) {
      display: block;
      font-size: 0.9em;
    }

    @media (min-width: 1024px) {
      font-size: 1em;
      line-height: 1.2em;
    }
  }

  &-right {
    @media (min-width: 600px) {
      display: grid;
      grid-template-rows: 2em 2fr 1fr;
      padding: 1em 0 0 0.4em;
    }
  }

  .property-id {
    padding: 0;
    margin-top: 0;
  }

  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 2fr;
  }
}

/**Pointer Styles**/
.custom-pointer {
  cursor: pointer;
}

.default-pointer {
  cursor: default;
}

/**Icon Styles**/
.icon-container {
  position: relative;
  z-index: 3;
  left: 10px;
  top: -25px;
  color: whitesmoke;

  span {
    padding-left: 0.3em;
  }
}

.property-icons {
  display: flex;
  margin-top: 1em;
  padding-bottom: 0.6em;
  justify-content: space-between;
  align-items: center;

  &-svg {
    color: $vivid-grey;
    margin-right: 1em;
  }

  &-text {
    display: inline-block;
    margin-right: 0.6em;
    color: $vivid-grey;
  }
  /**Confirm Delete**/
  .confirm-delete-modal {
    position: absolute;
    background-color: whitesmoke;
    z-index: 1000;
    box-shadow: 0 1px 5px rgba(50, 50, 50, 0.6);
    width: 200px;
    height: 100px;
    border-radius: 2px;
    padding: 1em;
    right: 30px;

    .wrapper {
      @include align;
      margin-top: 0.5em;

      button {
        padding: 0.5em;

        &:hover {
          color: $vivid-blue !important;
        }
      }
    }
  }
  /***Edit Form***/
  .edit-icons {
    @include align();

    svg:hover {
      color: $vivid-blue;
    }

    button {
      @include button-hidden();
    }
  }

  .details-icons {
    @include align();

    svg {
      cursor: none;
    }
  }
}

@media (min-width: 600px) {
  .property-icons {
    border-top: 1px solid darkgrey;
    padding-top: 1em;
  }
}

// Property Component Styles//

.show-property-gallery {
  display: flex;
  justify-content: center;

  img {
    height: 250px;
    width: 300px;
  }

  button {
    background: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 1.2rem;
    color: whitesmoke;
    position: relative;
  }

  &-next {
    right: -264px;
    top: -130px;
  }

  &-previous {
    top: -128.8px;
    left: -32px;
  }
}

@media (min-width: 1024px) {
  .show-property-gallery img {
    height: 345px;
    width: 345px;
  }

  .show-property-gallery-next {
    top: -175px;
    right: -308px;
  }

  .show-property-gallery-previous {
    top: -172.5px;
    left: -26px;
  }
}

/// My Properties //
.my-properties {
  cursor: none;
}
